.container {
    position: relative;
    text-align: center;
    color: black;
}

.top-left {
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 2.5rem;
    font-family: 'Lily Script One', cursive;
    color: #FCFCFC;
}

.about-container {
    text-align: center;
    padding: 20px;
}

.about-title {
    color: #8B0305;
}

.about-para {
    line-height: 2.5;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-indent: 80px;
}


.highlight {
    color: #8B0305;
    font-weight: bold;
}